body{
  background-color: grey;
}

h1{
  margin: 0px;
  font-style: helvetica;
  font-weight: normal;
  color: #59C3EC;
  border: 0px solid #090000;
  padding: 16px;
  background-image: linear-gradient(to bottom, #0a5bd5, #006ede, #007fe4, #0090e9, #12a0eb);
  grid-column: span 12;
}
footer {
  font-style: Verdana;
  font-style: italic;
  padding-left: 15px;
  background-color: red;
  color: white;
  grid-column: span 12;
  border: 3px solid #181800;

}
.bordertop {
  border-top: 3px solid #0557CB;
}
#wrapper {
  margin: 1em auto;
  padding: 1em;
  width: 960px;
  border: 3px solid #0557CB;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12,1fr);
}



main {
  grid-column: span 12;
}
main img {
  float: left;
margin-right: 24px;
margin-bottom: 24px;
border: 3px solid #0557CB;
padding: 0px;
}

main p{
  padding-left: 24px;
}
nav ul a:hover {
  background-color: #971F01;
}
p a{
  color: #F70727;
  font-weight: bold;
  text-decoration: none;
}
p a:hover{
  color: #0727F7;
}
h2{
  font-style: helvetica;
  color: #0557CB;
  border-bottom: 3px solid #0557CB;
}
#specialid {
 font-weight: bold;
}

nav ul{
  padding: 0px;
  margin: 0px;
  background-image: linear-gradient(to bottom, #0a5bd5, #006ede, #007fe4, #0090e9, #12a0eb);
}
nav li{
  width: 230px;
  margin-right: 10px;
  display: inline-block;
}
nav li a {
  display: block;
  border: 1px solid black;
  padding: 17px;
  color: #59C3EC;
  text-decoration: none;
  background-image: linear-gradient(to bottom, #0a5bd5, #006ede, #007fe4, #0090e9, #12a0eb);
}

p a{
  color: red;
  font-weight: bold;
}
p a:hover{
color: blue;
text-decoration: underline;
}
.image2 {
  float: right;
  margin-top: 24px;
  margin-bottom: 24px;

}
nav{
  grid-column: span 12;
  background-image: linear-gradient(to bottom, #0a5bd5, #006ede, #007fe4, #0090e9, #12a0eb);

}
li a:hover{
  color: #0727F7;
}
