h1 {
 color: #BF9A06;
}

p {
 color: #ff0000;
}
a {
  color: red;
}

a:hover {
  color: yellow;
}
a:visited {
 color: #3FBF3F;
}

#div {
  color: #0C2626;
  background-color: #2307D8;
}
.spanstyle{
  color: #00FF00;
}
