header {
  background-color: #5567DC
}
h1 {
 color: #F7F7F6;
}

h2 {
 color: #0C40ED
}
h3 {
  color: #01081C;
  background-color: #EEF202;
}
h4 {
  color: #EEF202;
  background-color: #0B9220;
}
h5{
  color: #F51818;
}
footer {
  background-color: #F8F80B
}
main {
  background-color: #42E067
}
p2 {
  color: #F72C11
}
a {
  color: #29DD11
}

a:hover {
  color: #DD1129
}
a:visited {
 color:
}

#div {
  color:
  background-color:
}
.special{
  color: #F58718
}
